@import url("https://use.typekit.net/log2nzr.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -moz-font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .HoverArrow {
    --arrowSpacing: 0px;
    --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
    --arrowHoverOffset: translateX(3px);
    position: relative;
    top: 1px;
    margin-left: var(--arrowSpacing);
    stroke-width: 2px;
    fill: none;
    stroke: currentColor;
    box-sizing: border-box;
    overflow: hidden;
  }
  .hover-arrow-line {
    opacity: 0;
    transition: opacity var(--hoverTransition, var(--arrowHoverTransition));
  }
  .hover-arrow-tie {
    transition: transform var(--hoverTransition, var(--arrowHoverTransition));
    transform: translateX(3px);
  }
}
